@use "sass:color" as color;
@use "@scss/shared/theme" as *;
@use "@scss/generic/button" as button;
@use "@scss/generic/tooltip";
@use "@scss/generic/gradient" as gradient;

div.message-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
  padding: 90px $hug 160px;
}

div.message {
  padding: $hug;
  font-size: 16px;
  line-height: 1.75;

  &.user {
    width: auto;
    border-radius: $c-radius;
    background: $bc-user;
    border: $pc-border;
  }

  &.assistant {
    background: transparent;
    padding: $hug;
  }

  a {
    color: $fc;
  }

  hr {
    border: $pc-border;
    margin: $hug 0;
  }

  pre {
    padding: $hug;
    margin: $hug calc($hug * -1);
    background: rgba($sc, 0.1);
    border: $pc-border;
    border-radius: $c-radius;
    overflow: auto;
    font-family: monospace;
    font-size: 14px;

    code {
      background: none;
    }
  }

  code {
    background: $sc;
    padding: 2px 5px;
    border-radius: 5px;
  }
}

div.model-reasoning {
  margin: 0 calc($hug * -1) $hug;
  padding: $hug;
  background: rgba($sc, 0.5);
  border: $pc-border;
  border-radius: $c-radius;

  div.reasoning-toggle {
    position: relative;
    background: none;
    border: none;
    width: 100%;
    font-size: 16px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    p {
      display: flex;
      align-items: center;
      font-weight: 700;

      svg {
        margin: 0 5px 0 0;
      }
    }

    svg {
      font-size: 21px;

      &.icon-chevron {
        transform: rotate(90deg);
      }
    }

    div.tooltip {
      left: 110px;
    }
  }

  div.model-reasoning-content {
    margin: $hug 0 0 0;
    padding: $hug;
    background: rgba($pc, 0.1);
    border-radius: $c-radius;

    * {
      font-size: 12px !important;
    }
  }

  &:hover {
    div.reasoning-toggle {
      div.tooltip {
        opacity: 1;
      }
    }
  }
}

div.message-options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: $hug 0 0 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;

  &.ready {
    opacity: 1;
    pointer-events: inherit
  }

  button {
    @include button.generic;

    & {
      position: relative;
      width: 32px;
      height: 32px;
      padding: 0;
      margin: 0 10px 0 0;

      svg {
        margin: 0;
        font-size: 12px;
      }

      div.tooltip {
        width: 120px;
        top: calc(100% + 10px);
        left: 0;
        background: rgba($sc, 0.5);
        font-size: 11px;
      }

      &:hover {
        div.tooltip {
          opacity: 1;
        }
      }
    }
  }
}