@use "@scss/shared/theme" as *;
@use "@scss/generic/form";
@use "@scss/generic/button" as button;

div#prompt {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  svg.prompt-spinner {
    position: absolute;
    left: calc(50% - 12px);
    bottom: calc(100% + 10px);
    font-size: 24px;
    color: $pc;
    transition: 0.2s ease-in-out;
    pointer-events: none;

    &.invisible {
      opacity: 0;
    }
  }

  form {
    position: relative;
    padding: 0 $hug;
    max-width: $chat-width;
    margin: auto;
    min-height: 135px;
    transition: opacity 0.2s ease-in-out;
    backdrop-filter: blur(10px);

    textarea {
      position: relative;
      z-index: 4;
      background: rgba($bc, 0.75);
      width: 100%;
      height: 100%;
      min-height: 135px;
      margin: 0;
      padding: calc($hug * 2);
      border: 2px solid transparent;
      border-radius: $c-radius $c-radius 0 0;
      pointer-events: none;
      opacity: 0;
      animation: fade-in 0.5s ease-in-out forwards;

      &:focus {
        border: 2px solid rgba($sc, 1);
        box-shadow: 0 0 30px 10px $g-shadow;
      }
    }

    button {
      @include button.generic;

      & {
        z-index: 5;
        opacity: 0;
        animation: fade-in 0.5s ease-in-out forwards;
      }
    }

    div.model-options {
      position: absolute;
      left: calc($hug * 2);
      bottom: calc($hug * 1);
      display: flex;
      align-items: center;
      padding: 0 10px;
      z-index: 5;

      button {
        padding: 0 10px 0 7px;
        text-transform: capitalize;
        margin: 0 5px 0 0;

        svg {
          margin: 0 3px 0 0;

          &.icon-xai, &.icon-gemini {
            transform: scale(0.8);
            transform-origin: center;
          }
        }
      }

      div.reason-wrapper {
        position: relative;
      }

      div.reason-dropdown {
        position: absolute;
        left: 0;
        bottom: calc(100% + 5px);
        z-index: 5;
        width: 120px;
        background: $panel-bg;
        border-radius: $c-radius;
        border: $pc-border;
        transition: opacity 0.2s ease-in-out;

        &.invisible {
          opacity: 0;
          pointer-events: none;
        }

        button {
          width: 100%;
          background: transparent;
          justify-content: flex-start;
          border-bottom: $pc-border;
          font-size: 12px;
          height: 28px;
        }
      }
    }

    button.button-send {
      position: absolute;
      right: calc($hug * 2);
      bottom: calc($hug * 1);
      width: calc($c-size * 0.8);
      padding: 0;

      svg {
        margin: 0;
      }
    }

    &.ready {
      textarea {
        opacity: 1;
        pointer-events: inherit;
      }
    }
  }

  div.prompt-error {
    padding: $hug;
    width: 100%;
    max-width: $chat-width;
    margin: auto;

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $rc;
      color: $bc;
      padding: 10px;
      border-radius: $c-radius;
    }
  }
}
