@use "@scss/shared/theme" as *;
@use "@scss/generic/form";
@use "@scss/generic/button" as button;

div#prompt {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  form {
    position: relative;
    padding: 0 $hug;
    max-width: $chat-width;
    margin: auto;
    transition: opacity 0.2s ease-in-out;
    backdrop-filter: blur(10px);

    textarea {
      position: relative;
      z-index: 4;
      background: rgba($bc, 0.75);
      width: 100%;
      height: 121.5px;
      min-height: unset;
      margin: 0;
      padding: calc($hug * 2);
      padding-bottom: 65px;
      border: 2px solid transparent;
      border-radius: $c-radius $c-radius 0 0;
      pointer-events: none;
      overflow: hidden;
      opacity: 0.75;
      transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out, height 0.1s ease-in-out;

      @media (width <= 720px) {
        font-size: 16px;
        padding: $hug;
        padding-bottom: 50px;
      }

      &:focus {
        border: 2px solid rgba($sc, 1);
        border-bottom: none;
        box-shadow: 0 0 30px 10px $g-shadow;
      }
    }

    button {
      @include button.generic;

      & {
        z-index: 5;
      }
    }

    div.model-options {
      position: absolute;
      left: calc($hug * 2);
      bottom: calc($hug * 1);
      display: flex;
      align-items: center;
      padding: 0 10px;
      z-index: 5;

      @media (width <= 720px) {
        padding: 0;
      }

      button {
        padding: 0 10px 0 7px;
        text-transform: capitalize;
        margin: 0 5px 0 0;

        svg {
          margin: 0 3px 0 0;

          &:last-child {
            margin: 0;
          }

          &.icon-bulb {
            margin: 0 3px 0 0;
          }

          &.icon-xai, &.icon-gemini {
            transform: scale(0.8);
            transform-origin: center;
          }
        }

        span.hide-mobile {
          display: inline-block;
          margin: 0 3px 0 0;
        }

        @media (width <= 720px) {
          height: 28px;
          padding: 0 7px;
          border-radius: $c-radius;

          svg {
            font-size: 12px;

            &.icon-xai, &.icon-gemini, &.icon-openai {
              margin: 0;
            }
          }

          span.hide-mobile {
            display: none;
          }
        }
      }

      div.reason-wrapper {
        position: relative;
      }

      div.reason-dropdown {
        position: absolute;
        left: 0;
        bottom: calc(100% + 5px);
        z-index: 5;
        width: 120px;
        background: $panel-bg;
        border-radius: $c-radius;
        border: $pc-border;
        transition: opacity 0.2s ease-in-out;

        &.invisible {
          opacity: 0;
          pointer-events: none;
        }

        button {
          width: 100%;
          background: transparent;
          justify-content: flex-start;
          border-bottom: $pc-border;
          font-size: 12px;
          height: 28px;
          border-radius: 0;

          &:hover {
            background: rgba($pc, 0.1);
          }
        }
      }
    }

    button.button-send {
      position: absolute;
      right: calc($hug * 2);
      bottom: calc($hug * 1);
      width: calc($c-size * 0.8);
      padding: 0;

      svg {
        margin: 0;

        &.icon-spinner {
          transform-origin: center;
          transform: scale(0.8);
        }
      }

      @media (width <= 720px) {
        border-radius: $c-radius;
        width: 28px;
        height: 28px;
      }
    }

    &.ready {
      textarea {
        opacity: 1;
        pointer-events: inherit;
      }
    }
  }

  div.prompt-error {
    padding: $hug;
    width: 100%;
    max-width: $chat-width;
    margin: auto;

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $rc;
      color: $bc;
      padding: 10px;
      border-radius: $c-radius;
    }
  }
}
