@use "@scss/shared/theme" as *;
@use "@scss/generic/button" as button;

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: $app-header-height;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a.brand {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    padding: 0 $hug;
    height: 100%;
    border-bottom: 3px solid transparent;
    transition: background 0.2s ease-in-out;

    img {
      width: calc($c-size * 1.125);
      height: calc($c-size * 1.125);
      border: 2px solid transparent;
      border-radius: 50%;
      margin: 0 5px 0 0;
      transition: 0.2s ease-in-out;
    }

    &:hover {
      img {
        background: $sc;
        border: 2px solid $sc;
        box-shadow: 0 0 20px 5px $g-shadow;
      }
    }
  }

  div.app-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 $hug;

    a.button,
    button {
      @include button.menu;

      & {
        position: relative;
        width: $c-size;
        height: $c-size;
        border-radius: 50%;
        padding: 0;
        margin: 0 0 0 10px;

        svg {
          font-size: 21px;
          margin: 0;
        }

        div.tooltip {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          left: calc(50% - 45px);
          bottom: -25px;
          width: 90px;
          font-size: 12px;
          pointer-events: none;
          opacity: 0;
          transition: opacity 0.2s ease-in-out;
        }

        &:hover {
          div.tooltip {
            opacity: 1;
          }
        }
      }
    }
  }
}
