@use "@scss/shared/theme" as *;
@use "@scss/generic/tooltip";
@use "@scss/generic/button" as button;

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: $hug;

  div.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $app-header-height;
    transition: 0.2s ease-in-out;
    backdrop-filter: blur(10px);
    background: rgba($sc, 0.5);
    border: $pc-border;
    border-radius: calc($app-header-height * 0.5);
  }

  a.brand {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    padding: 0 $hug;
    height: 100%;
    border-bottom: 3px solid transparent;
    transition: background 0.2s ease-in-out;

    img {
      width: calc($c-size * 1.125);
      height: calc($c-size * 1.125);
      border: 1px solid transparent;
      border-radius: 50%;
      margin: 0 5px 0 0;
      transition: 0.2s ease-in-out;
    }

    &:hover {
      img {
        background: $sc;
        border: $pc-border;
        box-shadow: 0 0 20px 5px $g-shadow;
      }
    }
  }

  div.main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 $hug;

    &.dropdown-visible {
      pointer-events: none;
    }

    a.button,
    button {
      @include button.menu;

      & {
        position: relative;
        width: $c-size;
        height: $c-size;
        border-radius: 50%;
        padding: 0;
        margin: 0 0 0 10px;

        svg {
          font-size: 21px;
          margin: 0;
        }

        div.tooltip {
          left: calc(50% - 45px);
          bottom: -45px;
          width: 90px;
        }

        &:hover {
          box-shadow: 0 0 15px 5px $g-shadow;

          div.tooltip {
            opacity: 1;
          }
        }
      }
    }
  }

  div.dropdown-menu {
    position: absolute;
    right: calc($hug * 2);
    top: calc($app-header-height - 3px);
    width: 140px;
    display: flex;
    flex-direction: column;
    transition: 0.2s ease-in-out;
    backdrop-filter: blur(10px);
    background: $panel-bg;
    border: $pc-border;
    border-radius: 0 0 $c-radius $c-radius;
    overflow: hidden;
    z-index: 10;

    &.invisible {
      opacity: 0;
      pointer-events: none;
    }

    a.button,
    button {
      @include button.menu;

      & {
        justify-content: flex-start;
        width: 100%;
        border: none;
        border-radius: 0;
        margin: 0;
        border-bottom: $pc-border;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
