@use "@scss/shared/theme" as *;
@use "@scss/generic/button" as button;

div#settings {
  display: flex;

  div.settings-tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 210px;
    padding-top: $hug;

    button {
      @include button.generic;

      & {
        height: $c-size;
        font-size: 16px;
        text-transform: capitalize;
        margin: 0 0 5px;
        border: $pc-border;
      }
    }
  }

  div.settings-content {
    padding: $hug 0 calc($hug * 2) $hug;
    width: calc(100% - 210px);

    h2 {
      font-size: 24px;
      font-weight: 700;
      padding: 0 0 $hug;
    }

    h3 {
      display: flex;
      align-items: flex-end;
      font-size: 18px;
      font-weight: 700;
      padding: 0 0 $hug;

      img {
        width: 21px;
        height: 21px;
        margin: 0 10px 3px 0;
      }
    }

    div.settings-sso {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      margin: 0 0 $hug;

      h3 {
        padding: 0;
      }

      button {
        width: 200px;
      }
    }

    div.settings-card {
      position: relative;
      width: 100%;
      background: rgba($sc, 0.25);
      border-radius: calc($c-radius * 2);
      border: $pc-border;
      overflow: hidden;
      padding: calc($hug * 2);

      div.settings-loading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $sc;
        z-index: 5;
        pointer-events: none;
        transition: 0.2s ease-in-out;
      }
    }

    div.settings-preference {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $hug 0;

      div.preference-switch {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 700;

        button.switch {
          margin: 0 10px;
        }
      }
    }

    button.settings-save {
      @include button.generic;

      & {
        margin: 0 0 0 auto;
      }
    }

    form.settings-password-form,
    form.settings-email-form {
      padding: $hug 0;

      label {
        color: $fc;
      }
    }
  }
}
